{% extends 'base.html' %}
{% load static %}
{% block title %}Bookland - Category ({{slug}}) {% endblock %}

{% block content %}

{% if not maincategorys %}

<div class="details">
    <h1>Page not found</h1>
    <a style="text-decoration: none;" href="{% url 'home' %}">
        <span><i class="fal fa-arrow-left"></i> &nbsp; BACK TO HOMEPAGE</span>
    </a>
</div>

{% else %}

<div class="details">
    <h1>{{ slug }}</h1>
    <p>Home - Category</p>
</div>


<section>
    <div class="container">
        <div class="row">
            <div class="side">

                <div class="sidebar">
                    <div class="head">Browse Categories</div>
                    <div class="cate-content">
                        <ul>
                            {% for category in categories %}
                            <li class="cate-list"><a href=" {% url 'category' category %}">
                                    {{category}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>



                <div style="margin-top: 20px;" class="sidebar">
                    <div class="head">Product Filters</div>
                    <div class="cate-content">
                        <form method='GET'>
                            <ul>
                                {% for subcat in subcategories  %}
                                <li class="cate-list">
                                    <input id="{{ subcat }}" value="{{ subcat }}" class="radiobtn" type="radio"
                                        name="subcategory" {% if subcat.name == subcategory %} checked {% endif %}>
                                    <label for="{{ subcat }}">{{ subcat }}
                                        ({{subcat.product_set.count}})</label>
                                </li>
                                {% endfor %}
                            </ul>
                    </div>
                </div>
                <div class="price-filter">
                    <div class="rangeslider">
                        <!-- <input name="minvalue" type="range" min="100" max="3000" value="100" id="myrange"
                            class="slider">
                        <p>Price : $<span id="value"></span></p> -->

                        <span class="labelprice" for="">Min Price :</span><br>
                        <input type="number" name="minvalue" id="" value='{{ minvalue }}'><br>
                        <span class="labelprice" for="">Max Price :</span><br>
                        <input type="number" name="maxvalue" value="{{ maxvalue }}">

                    </div>

                    <button class="filterbtn">Filter</button>
                </div>
                </form>
            </div>


            <div class="product">
                <form method="GET">
                    <div class="searchbar">
                        <div class="srch">


                            <input name='name' type="text" placeholder="Search" {% if name != None %} value="{{ name }}"
                                {% endif %}>
                            <div class="srchbtn">
                                <button>
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>

                            </div>

                        </div>
                    </div>
                </form>
                <div class="product-area">
                    {% if not page_obj %}
                    <div style="height: 400px;" class="no-books-found-div">
                        <h1 style="text-align: center;">No books found</h1>
                    </div>
                    {% else %}
                    <div class="Area">
                        {% for cat in page_obj %}
                        <div class="product-detail">

                            <div class="card ">
                                <div class="single-latest-product-hover">
                                    <a href="{% url 'product-detail' cat.id %}">View Product</a></div>
                                <div class="card_img">
                                    <img class="card-img" src="{{ cat.image.url }}" alt="">

                                </div>
                                <div class="card-body">
                                    <p>{{ cat.author }}</p>
                                    <a style="text-decoration: none;" href="{% url 'product-detail' cat.id %}">
                                        <h4 class="card-product__title">{{ cat.title|truncatechars:25 }}</h4>
                                    </a>
                                    <p class="card-product__price">Rs. {{ cat.price }}.00</p>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="pagination-div">

            {% if page_obj %}
            {% if page_obj.has_previous %}
            <a class="" href="?page={{ page_obj.previous_page_number }}"><button>Previous</button></a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="" href="?page={{ num }}"><button>{{ num }}</button></a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="" href="?page={{ num }}"><button>{{ num }}</button></a>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <a class="" href="?page={{ page_obj.next_page_number }}"><button>Next</button></a>
            {% endif %}
            {% endif %}
        </div>


    </div>

</section>
{% endif %}




{% endblock %}