{% extends 'base.html' %}
{% load static %}
{% block title %}Bookland - Best Online Bookshop In Nepal {% endblock %}

{% load widget_tweaks %}
{% block content %}

<!-- Slideshow -->
<div class="swiper-container swiper1">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="swipper-slide-description">
        <span>Books that matter</span>
        <h1>Shop Online Now !</h1>
        <p>Buying your books from us means
          you are supporting your independent high street
          shops.
          For inspiration, browse by categories or search box,
          and find the new releases.
        </p>
        <a href="#latest-product"><button>Browse Now</button></a>
      </div>
      <img class="first-image" src="{% static 'images/book1.svg' %}" alt="">
    </div>
    <div class="swiper-slide">
      <img class="second-image" src="{% static 'images/book4.svg' %}" alt="">
      <div class="swipper-slide-description2">

        <span>Discover something new,</span>
        <h1>Sell Your Books !</h1>
        <p>
          Place to search,
          browse, sell and buy new, as well as secondhand books.
          Get stranded in this world of books.
        </p>
        <a href="{% url 'category-form' %}"><button>Sell Now</button></a>
      </div>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

  <!-- Add Pagination -->
  <div class="swiper-pagination"></div>
</div>

<!-- List of Categories -->
<div class="categories">
  <p>Book Genre</p>
  <h1>Categories</h1>
  <div class="inner-categories">

    {% for category in categories %}
    <a href="{% url 'category' category %}">
      <div class="single-category">
        <img src="{{ category.image.url }}" alt="{{ category.name }}">
        <h3>{{ category.name|truncatechars:25 }}</h3>
      </div>
    </a>
    {% endfor %}

  </div>
</div>

<!-- Recently featured products -->
<div class="latest-product" id="latest-product">
  <p class="latest-product-para">Latest books online</p>
  <h1>Recently Featured</h1>
  <div class="inner-latest-product">

    {% for product in products %}
    <div class="single-latest-product">
      <img src="{{ product.image.url }}" alt="{{ product.title }}">
      <div class="single-latest-product-hover">
        <a href="{% url 'product-detail' product.id %}">View Product</a></div>
      <div class="product-information">
        <p>{{ product.author }}</p>
        <h3><a href="{% url 'product-detail' product.id %}">{{ product.title|truncatechars:25 }}</a></h3>
        <span>Rs. {{ product.price }}.00</span>
      </div>
    </div>
    {% endfor %}

  </div>
</div>

<!-- Banner -->
<div class="offer-banner">
  <img src="{% static 'images/girl.svg' %}" alt="">
  <div class="offer-banner-description">
    <h1>Best Seller</h1>
    <h3>Up to 50% off</h3>
    <p>
      Check out the best selling works released every week.

    </p>
    <a href="{% url 'category' 'Fiction' %}"><button>Buy Now</button></a>
  </div>
</div>

<!-- Recently viewed products -->
<div class="outer-recently-viewed">
  <p class="recently-viewed-para">Your viewed books</p>
  <h1>Recently Viewed</h1>
  <div class="swiper-container recently-viewed">
    <div class="swiper-wrapper">
      {% for product in products %}
      <div class="swiper-slide">
        <img src="{{ product.image.url }}" alt="">
        <div class="single-latest-product-hover"><a href="{% url 'product-detail' product.id %}">View Product</a></div>
        <div class="product-information">
          <p>{{ product.author }}</p>
          <h3><a href="{% url 'product-detail' product.id %}">{{ product.title|truncatechars:20 }}</a></h3>
          <span>Rs. {{ product.price }}.00</span>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
  </div>
</div>

<!-- Testimonials -->
<div class="testomonial">
  <p>Our customer stories</p>
  <h1>Testimonials</h1>
  <div class="inner-testomonial">
    <div class="single-testomonial">
      <img src="{% static 'images/customer1.jpg' %}" alt="">
      <h3>Rina Dahal</h3>
      <span>Teacher</span>
      <p>"Excellent service. The books were wrapped securely and arrived in pristine condition. I sent an email
        after to books arrived to ask about the author, and I received a prompt reply."</p>
    </div>
    <div class="single-testomonial">
      <img src="{% static 'images/customer2.jpg' %}" alt="">
      <h3>Dinesh Rai</h3>
      <span>Writer</span>
      <p>"Bookland went above and beyond - great and friendly customer service and free prompt delivery of my book.
        I highly recommend them. Many thanks!"</p>
    </div>
    <div class="single-testomonial">
      <img src="{% static 'images/customer3.jpg' %}" alt="">
      <h3>Rose Shah</h3>
      <span>Student</span>
      <p>"Something for every reader! Great selection and even better prices!
        I will definitely be re-ordering from Bookland again in the future!"
      </p>
    </div>
  </div>
</div>

<!-- Email Subscription form -->
<div class="email-subscription">
  <h1>GET UPDATES FROM BOOKLAND</h1>
  <p>Subscribe and stay in touch with our regular updates and newsletter.</p>
  <div class="email-subscription-form">
    <form action="{% url 'subscribe' %}" method="POST">
      {% csrf_token %}
      <!-- <input type="text" placeholder="Enter your email"> -->
      {% render_field form.email class="email-subscription-textbox"  placeholder="Enter your email.." %}
      <button type="submit">Subscribe Now</button>
    </form>
  </div>
</div>
<script>
  //if (document.querySelector('.nav-links').contains('active')) {
  //  document.querySelector('.nav-links').classList.remove('activee')
  //}
  //document.getElementById('nav-id').querySelectorAll('.nav-link-list').classList.remove('active')
  //document.querySelector('#contact-nav').classList.add('active')

  $(document).ready(() => {
    $("#nav-id").find(".active").removeClass("active");
    $("#home-nav").addClass("active");
  })
</script>

{% endblock %}