{% extends 'base.html' %}
{% load static %}
{% block title %}Bookland - Delete Book {% endblock %}

{% block content %}

<div class="details">
  <h1>Delete Book</h1>
  <p>Used Books - Delete Book</p>
</div>

<div class="delete-book">
  <h3>Do you sure want to delete "{{ books.title }}"?</h3>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Yes, Delete">
    <a href="{% url 'listed-books'%}">
      <button type="button">Cancel</button>
    </a>
  </form>
</div>


{% endblock %}