{% extends 'base.html' %}
{% load static %}
{% block title %}Bookland - Listed Books {% endblock %}

{% block content %}

<div class="details">
  <h1>My Listed Books</h1>
  <p>Used Books - My Listed Books</p>
</div>
<div class="my-wishlist">
  <div class="main1">
    {% if not used_products %}
    <div class="wishlist-empty">
      <i style=" font-size: 25px;
      margin-bottom: 10px;" class="fal fa-book-alt hey"></i>
      <p>There are no Listed books yet.</p>
      <span>Add your books and they will show here.</span>
      <a href="{% url 'category-form' %}"><button>Add your book</button></a>
    </div>
    {% else %}
    <table class="table3">
      {% for used_product in used_products %}
      <tr>
        <td class="wishlist-flex">
          <a href="{% url 'used-books-detail' used_product.id %}">
            <img src="{{ used_product.image.url }}">
          </a>
          <div class="image-desc">
            <a href="{% url 'used-books-detail' used_product.id %}">
              <h3>{{ used_product.title }}</h3>
            </a>
            <p><b>Price</b> : Rs. {{ used_product.price }}.00</p>
            <p><b>Category</b> : {{ used_product.subcategory }}</p>
          </div>
        </td>
        <td class="table-price">
          <span title="Edit"><a href="{% url 'update-book' used_product.id %}"><i class="fal fa-edit"></i></a></span>
          <span title="Delete"><a href="{% url 'delete-book' used_product.id %}"><i class="fas fa-trash"></i></a></span>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </div>
</div>

{% endblock %}